.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0,0.4); */
  /* z-index:999; */
  backdrop-filter: blur(5px);
}
.alertbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 350px;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  /* z-index: 1000; */
  text-align: center;
}

.alerticon {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.icon-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

circle {
  stroke-dasharray: 163.36;
  stroke-dashoffset: 163.36;
  animation: drawCircle 0.8s ease-out forwards;
}


@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawSymbol {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.message {
  font-size: 16px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.okbutton,
.cancelbutton {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.okbutton {
  background-color: #4CAF50;
  color: white;
}

.cancelbutton {
  background-color: #F44336;
  color: white;
}

.okbutton:hover {
  background-color: #45a049;
}

.cancelbutton:hover {
  background-color: #d32f2f;
}
.symbol-animate {
  stroke-dasharray: 50; 
  stroke-dashoffset: 50;
  animation: drawSymbol 2s ease-out forwards;
}
@keyframes drawSymbol {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.dot-delay-show {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  animation-delay: 0.8s;
}
