#box {
  margin: 10px;
  margin-right: 10px;
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  box-sizing: border-box;
}
.heading {
  text-align: center;
}
.branch-container {
  padding: 2rem;
}

.table {
  display: grid;
  grid-template-columns: repeat(13, auto); /* 13 columns */
  border: 1px solid #ddd;
}

.table-header {
  display: contents;
  font-weight: bold;
  background-color: #e2e8f0;
}

.table-row {
  display: contents;
}

.table > div > div {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.edit-btn {
  background-color: #38a169;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn {
  background-color: #e53e3e;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
