#mainB{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:87vh;
  width: 99%;
  margin-left: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);

}
.box {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  font-size: 20px;
}

.table {
  display: grid;
  grid-template-columns: repeat(13, auto); /* 13 columns */
  border: 1px solid #ddd;
    overflow: scroll;
    height:68vh;
    width: 98%;

}

.table-header {
  display: contents;
  font-weight: bold;
  background-color: #87909c;
}

.table-header > div {
  background-color: #d6e2ee; /* Light gray */
  font-weight: bold;
  padding: 10px;
  border: 1px solid #000000;
}

.table-row {
  display: contents;
}

.table > div > div {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.edit-btn {
  background-color: #38a169;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn {
  background-color: #e53e3e;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.addBranch-btn {
  background-color: #3c11f9;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}