body{
    margin:0;
    padding: 0;
}
#body{
    display: flex;
}
#sidebar{
    padding-top:15px ;
    background-color: darkblue;
    width: 280px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(221, 221, 221);
    gap: 5px;
}
.menuItems{
    font-weight: bold;
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.menuItems:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
#center-body{
    margin: 10px;
    width: 100%;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2) ;
    padding: 1em;
}
