#container{
    margin: 15px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.minimized-icon {
  position: fixed;
  right: 1px;
  top: 80px;
  width: 40px;
  height: 40px;
  background: darkblue;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2000;
}
#center-body{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#wrap{
    display: flex;
    gap:300px;
    margin-left: 40px;
}
.one{
    display: flex;
}
#first-body{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#second-body{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#o{
    gap: 70px;
}
#p{
    gap: 127px;
}
#q{
    gap:113px;
}
#r{
    gap:108px;
}
#y{
    gap: 93px;
}
#u{
    gap: 53px;
}
#i{
    gap:20px;
}


