.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.heading {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.section {
  flex: 1 1 40%;
}

.section h3 {
  margin-bottom: 20px;
  color: darkblue;
  font-size: 18px;
}

.row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.label {
  width: 150px;
  font-weight: 500;
  color: #333;
}

.separator {
  margin: 0 5px;
}

.value {
  flex: 1;
  color: #555;
}
