#sidebar {
  position: relative;
  background-color: #f4f9f9;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  gap: 5px;
  width: 15%;
  /* position: fixed; */
  box-shadow: 1.95px 1.95px 2.6px #00000026;
  padding-top: 13px;
  padding-right: 10px;
  padding-left: 10px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  
}

#sidebar.collapsed {
  width: 8dvh;
  padding-right: 0;
  align-items: center;
}

#listIcon {
  height: 20px;
  width: 20px;
  background-image: url("../../../public/assets/list1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#iconDiv {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 35px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.itemsDiv {
  margin-top: 63px;
}
.menuItems {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 8px;
  gap: 20px;
  padding-left: 40px;
  transition: background-color 0.3s ease;
}

#sidebar.collapsed .menuItems {
  width: 100%;
  padding-left: 0;
  justify-content: center;

}

.menuItems:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

#homeIcon,
#collegeIcon,
#formIcon,
#studentIcon,
#branchIcon,
#discontinuedIcon,
#formIcon1,
#formIcon2,
#formIcon3,
#formIcon4,
#formIcon5,
#formIcon6 {
  position: absolute;
  left: 10px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  flex-shrink: 0;
}

#homeIcon {
  background-image: url("../../../public/assets/home.svg");
}

#collegeIcon {
  background-image: url("../../../public/assets/college1.svg");
}

#formIcon1 {
  background-image: url("../../../public/assets/formAsvg.svg");
}

#formIcon2 {
  background-image: url("../../../public/assets/formBsvg.svg");
}

#formIcon3 {
  background-image: url("../../../public/assets/formCsvg.svg");
}

#formIcon4 {
  background-image: url("../../../public/assets/formDsvg.svg");
}

#formIcon5 {
  background-image: url("../../../public/assets/formFGsvg.svg");
}

#formIcon6 {
  background-image: url("../../../public/assets/formLeasvg.svg");
}

#studentIcon {
  background-image: url("../../../public/assets/badge.svg");
}

#branchIcon {
  background-image: url("../../../public/assets/branch.svg");
}

#discontinuedIcon {
  background-image: url("../../../public/assets/badge.svg");
}

.menuItems span,
.menuItems p,
.menuItems div:not(:first-child) {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#sidebar.collapsed .menuItems {
  padding-left:3px;
}
#sidebar.collapsed{
  display:flex;
  align-items:center;
  padding-left: 0px;
  padding-right:0px;
}
#sidebar .menuItems{
  /* transition: transform 0.3s ease; */
  box-sizing: border-box;
}

#sidebar.collapsed .menuItems{
  width:100%;
  min-height: 10px;
  padding: 18px;
  /* position: relative; */
}

#buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#sidebar.collapsed #buttonDiv {
  opacity: 0;
  visibility: hidden;
}

.menuItems.active{
  background-color: #a1e3f9;
  border-radius: 3px;
}




