body, html, #root, .App {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    position: relative;
  }
  
  .menu-button {
    font-size: 1.5rem;
    background: darkblue;
    border: none;
    color: white;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 40px;
    position:absolute;
    z-index: 1;
    left: -20px;
    top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .menu-button.open{
    margin-left:250px;
    transition: margin-left 0.3s ease;
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: -280px;
    width: 200px;
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1;
    background-color: darkblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
    margin-top: 61px;
  }
  
  .drawer.open {
    left: 0;
  }
  #menu-items{
    background-color: darkblue;
    width: 80%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
}
.menuItems-icon{
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
}
.menuItems-icon:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    
}
  