*{
    padding: 0;
    margin:0;
}
.dashboard-body {
  display: flex;
  height: 88vh;
  width: 84%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  margin-top: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  
}

.dashone {
    display: flex;
    flex-direction: column;
    width: calc(100% - 15%);
    margin-left: 15.5%;
    gap: 0px;

}
