*{
    padding: 0;
    margin:0;
}
.dashboard{
     z-index:-1;
}
.dashboard-body {
  display: flex;
  height: 87.8vh;
  width: 99.35%;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
 
  
}

.dashone {
    display: flex;
    flex-direction: column;
    width: calc(100% - 15.5%);
    margin-left: 15.5%;
    /* height: 80vh; */
    gap: 7px;

}


