.student-container {
  width: 100%;
}
.studentdropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 20px;
  background-color: white;
}

.studentdropdown label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #333;
}

.studentdropdown select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  width:30%;
}

.studentdropdown select:focus {
  border-color: #3f51b5;
  outline: none;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.1);
}

.student-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.student-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 40px;
}

.student-header {
  background-color: hsl(0, 0%, 85%);
  font-weight: bold;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-cell {
  padding: 10px;
  border-right: 1px solid #ccc;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
}

.student-row .student-cell:last-child {
  border-right: none;
}
.student-row .student-header:last-child {
  border-right: none;
}

.student-header.sno {
  width: 15%;
}
.student-header.name {
  width: 40%;
}
.student-header.app_no {
  width: 20%;
}
.student-header.action {
  width: 25%;
}
.student-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-cell.sno {
  width: 15%;
}
.student-cell.app_no {
  width: 20%;
}
.student-cell.name {
  width: 40%;
}
.student-cell.action {
  width: 25%;
}
.student-button{
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.student-row:hover{
  background-color: rgba(0, 0, 0, 0.07);
}
.Unavailable{
  color:red;
  width:100%;
  text-align: center;
}